body {
    /* min-height: 100vh;
    min-width: 100vw; */
    /*background-color: rgb(14, 163, 226);*/
    background-image: url(/BFotos/World-of-Warships-sea-battleship_2560x1440.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    /* width: auto;
    height: 100%; */
    background-size: cover;
    color: rgb(0, 255, 234);
}

nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: white;
    color: rgb(12, 229, 236);
    text-align: right;
}

.links {
    align-self: center;
    display: flex;
    flex-direction: row;
}

li {
    justify-content: flex-end;
    display: block;
    margin-left: 20px;
    margin-right: 20px;
}

li a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;

}

li :hover {
    transition: 0, 5s;
    text-transform: uppercase;
}

.logo img {
    margin-left: 20px;
    justify-content: flex-start;
    height: 50px;
    width: auto;
}


.flexin {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    margin-bottom: 30;
}

#roundcounter {
    text-align: center;
    margin-bottom: 50px;
}

.scoreboard {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 40px;
    margin-left: 15%;
    margin-right: 15%;
}


table,
tr,
td {
    border: 2px solid rgb(0, 255, 234);
}

table {
    border-collapse: collapse;
    width: 350px;
    height: 350px;
}

.tables {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
}

footer {
    display: flex;
    justify-content: center;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    position: fixed;
    margin-bottom: 10px;
}

#tableid {
    display: block;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    background-color: black;


}

#submarine,
#destroyer,
#cruiser,
#carrier {
    background-color: chartreuse;
    height: 28px;
    width: 60px;
    position: relative;
    margin: 1px;
}

#destroyer {

    width: 98px;
}

#cruiser {
    width: 128px;
}

#carrier {
    width: 163px;
}

.invisible {
    display: none;
}


.hovered {
    background-color: blue;
}

.hold {
    border: solid black 2px;
}

.ship {
    display: flex;
}

.filled {
    background-color: black;
}

.shooting {
    background-color: green;
}

.hitted {
    background-color: orange;
}

#login,
#login-form {
    text-align: center;
    background-color: black;
    justify-content: center;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 80px;
    padding-bottom: 30px;
    padding-top: 1px;
    padding-left: 0px;
    padding-right: 0px;
    color: rgb(161, 252, 252);
}


form {
    padding: 10px;
}

button {
    color: black;
    background-color: rgb(161, 252, 252);
    border-radius: 12px;
}

#hometitle {
    margin-top: 70px;
    margin-bottom: 50px;
}

#login-form {
    margin-top: 80px;
}

label {
    border-top: 5px;
    border-bottom: 5px;
}

#playbtn {
    margin-left: 49%;
    margin-right: 49%;
    margin-bottom: 30px;

}

#games {
    margin: 20px;

}

.newdiv {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    flex-direction: row;
}

.gamediv {
    text-align: center;
    margin: 10px;
    background-color: black;
    padding: 10px;
    border-radius: 12px;
    border-width: 2px;
    height: 140px;
    width: 170px;
    border-color: rgb(161, 252, 252);

}

#ShipBtn {
    margin-left: 15%;
}